.slide-down-enter-active[data-v-9808b5f1],.slide-down-leave-active[data-v-9808b5f1]{transition:all .3s ease}.slide-down-enter-from[data-v-9808b5f1],.slide-down-leave-to[data-v-9808b5f1]{transform:translateY(-100%);opacity:0}
