.slide-down-enter-active[data-v-d2441cce],.slide-down-leave-active[data-v-d2441cce]{transition:all .3s ease}.slide-down-enter-from[data-v-d2441cce],.slide-down-leave-to[data-v-d2441cce]{transform:translateY(-100%);opacity:0}
